*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.5vw;
    justify-content: space-between;
}
nav:hover #nav-bottom{
    height: 150%;
    bottom: -150%;
    background-color: #111;
}
#nav-bottom{
    height: 0%;
    width: 80%;
    position: absolute;
    bottom: 0%;
    border-bottom: 2px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 15vw;
    padding-left: 18.2vw;
    padding-top: 3vw;
}
.bottom-div{
    margin-top: 2vw;
}
.bottom-div h5 span{
    font-size: 0.7vw;
    font-weight: 500;
    display: inline-block;
    opacity: 0;
    
}
.bottom-div h5{
    margin-bottom: 1vw;
    overflow: hidden;
}
.nav-part2{
    display: flex;
    gap: 2vw;
    text-transform: uppercase;
}
.nav-part2 h4{
    font-size: 0.8vw;
    font-weight: 600;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    font-weight: 900;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    margin-top: 2.4vh;
    font-weight: 400;
}
#page1-threethings{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-threethings h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    margin-top: 0.5vw;
}


#page1-threethings h4:nth-last-child(2){
    border: none;
    padding: 2px;
}







#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}